on:
  push:
    branches: 
      - main
jobs:
  release:
    permissions:
      contents: write
      id-token: write
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          registry-url: 'https://registry.npmjs.org'

      - uses: oven-sh/setup-bun@v2
      - run: bun i
      - run: bun run fmt
      - run: bun run test
      - run: bun run build
      - run: bunx semantic-release
        env:
          # reminder to setup read/write permission for this token
          # here: REPO_URL/settings/actions
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
